{% extends 'base.html.twig' %}

{% block title %}Nouvelle classe{% endblock %}

{% block body %}
    <h1>Ajouter une classe</h1>

    {{ include('classe/_form.html.twig') }}

    <a class="btn btn-primary" href="{{ path('classe_index') }}">Retour à la liste</a>
{% endblock %}
